.context-menu-container {
    position: relative;
  }
  
  .menu-toggle-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
  }
  
  .custom-action {
    /*position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;*/
    color: lightgray /* Your color code here */;
    position: absolute;
    width: 300px;
    height: 180px;
    border-radius: 0.75rem; /* You can adjust the value as needed */
    border: 1px solid /* Your border color here */;
    gap: 0.5rem; /* You can adjust the value as needed */
    padding: 0.25rem; /* You can adjust the value as needed */
    top: 0.5rem; /* You can adjust the value as needed */
    right: 0.5rem; /* You can adjust the value as needed */
    z-index: 50;
    display: flex;
    flex-direction: column;
    background-color: #fff; /* Your background color here */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adjust the values as needed */
  }
  
  .custom-action a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
  }
  
  .custom-action a:hover {
    background-color: #f1f1f1;
    border-radius: 20px;
  }
  