/* Styling for the list-group to match a sleek, modern design */
.styled-list .list-group-item {
    border: none;
    border-bottom: 1px solid #f1eaea;
    padding: 10px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: #343a40;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    margin-bottom: 8px;
  }
  
  .styled-list .list-group-item:hover {
    background-color: #e9ecef;
  }
  
  .styled-list .fw-bold {
    color: #333;
  }
  
  /* Styling the card titles */
  .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: #333;
  }
  
  /* Enhancing the card shadow for a prominent effect */
  .card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.1), 0 20px 40px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  /* Adding a more prominent shadow on hover */
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
  }
  
  /* General padding and spacing */
  .card-body {
    padding: 1.5rem;
  }
  
  .container {
    max-width: 1200px;
    margin-top: 20px;
  }

  .custom-card {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border: none;
  }

  .icon-green {
    color: #28a745;
    margin-bottom: 10px;
  }
  
  .icon-yellow {
    color: #ffc107;
    margin-bottom: 10px;
  }
  
  .icon-red {
    color: #dc3545;
    margin-bottom: 10px;
  }

  .summary-count{
    min-height: 125px;
  }


  